<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>
<main>

<p>いいねした総数<%= @favorite.count %>件</p>

<table>
	<thead>
		<tr>
			<th>No</th>
			<th>イメージ</th>
			<th>発言者</th>
			<th>職業／ジャンル</th>
			<th>名言</th>
		</tr>
	</thead>


	  <% @favorite.each_with_index do |favorite, i| %>
	  <tbody>
		<tr>
			<td><%= i+1 %></td>
			<th><%= attachment_image_tag favorite.word, :image, :fill, 50, 50, fallback: "noimage.jpg", :size =>'80x80' %></th>
			<td><%= favorite.word.speaker %></td>
			<td><%= favorite.word.genre %></td>
			<td><%= favorite.word.sp_word %></td>
			<td><%= link_to "解説ページへ", word_path(favorite.word.id) %></td>
			<td>

				<%= link_to "お気に入りから削除", word_favorites_path(favorite.word), method: :delete %>

		</td>
      </tr>
      <% end %> 


</main>