<h1>Favorites#lank_pro</h1>
<p>Find me in app/views/favorites/lank_pro.html.erb</p>




<span><a href="/favorites/lank_all">総合部門</a></span>
<span><a href="/favorites/lank_pro">著名人部門</a></span>


<table>
	<tr>
		<th>順位</th>
		<th>いいね件数</th>
		<th>イメージ</th>
		<th>発言者</th>
		<th>名言</th>
		<th>投稿者</th>
		<th>詳細</th>
	</tr>


	<% @word_ranking.each.with_index(1) do |word, i| %>


	<tr>
		<td><%= i %>位 </td>
		<td><%= word.favorites.count %> 件</td>
		<td><%= attachment_image_tag word, :image, :fill, 100, 100, fallback: "noimage.jpg", :size =>'100x100' %></td>
		<td><%= word.speaker %></td>

		<td><%= word.sp_word %></td>
		<td><%= link_to word.user.name, user_path(word.user.id) %></td>

		<td><%= link_to "解説ページへ", word_path(word.id) %></td>
	</tr>


	<% end %>
</table>
