<main>
	<div class="container">
		<div class="row">
			<div class="menu-head">名言の一覧
			</div>


			<div>
				<form class="index-switching">
					<%= search_form_for @search, url: words_path, :class=>"navbar-form navbar-left" do |f| %>
						<label><%= f.radio_button :word_flag_cont, "" %> 全て</label>
						<label><%= f.radio_button :word_flag_cont, "著名人" %> 著名人 </label>
						<label><%= f.radio_button :word_flag_cont, "一般人" %> 一般人 </label>
						<button type="submit" class="btn btn-default">絞り込み</button>
					<% end %>
				</form>
			</div>

			<div>
				<% @search_words.each do |word| %>

					<div class="word-user"><%= word.user.prefecture %>出身
						<%= link_to word.user.name, user_path(word.user.id) %> さんの投稿
					</div>
					<div class="pickup-word">

						<figure class="pickup-word-img">
							<%= link_to attachment_image_tag(word, :image, :fill, 80, 80, fallback: 'noimage.jpeg', :size =>'80x80'), word_path(word.id) %>
							<figcaption style="font-size: 15px;"><b><%= word.speaker %></b><br>(<%= word.genre %>)<br>
								<% if word.word_flag == "著名人" %>
									<button type="button" class="btn btn-success btn-xs"><a href="https://ja.wikipedia.org/wiki/<%= word.speaker %>"> - Wiki -</a></button>
								<% end %>
							</figcaption>
						</figure>
						<div class="sp-word">
							<p><%= simple_format(word.sp_word) %></p>
						</div>
						<div style="margin:30px 60%;">

							<%= link_to "解説", word_path(word.id) ,class: "btn btn-default active" %>
						</div>
					</div>
				<% end %>
			</div>
			<div style="text-align: center;">
				<%= paginate @search_words, class: "pagination" %>
			</div>
		</div>
	</div>
</main>